# Токен Telegram бота
BOT_TOKEN=8222086470:AAGCqPq0T7hFU0E0Mf7yoP39Wtc-OPqI_qA

# URL веб-приложения
WEBAPP_URL=https://11021983a.github.io/Docky/

# Настройки Mail.ru для отправки писем
EMAIL_USER=docs_zs@mail.ru
EMAIL_PASSWORD=eGuJ5aSGByv12jS4MxLj

# Настройки SMTP
SMTP_SERVER=smtp.mail.ru
SMTP_PORT=587

# ID администратора для уведомлений
ADMIN_CHAT_ID=335189213
